@page "/Bar"
@using Blazor.Charts.ChartJs.Components

<h3>Bar</h3>

<Chart Id="bar1" 
       Type="@Chart.ChartType.Bar" 
       Data="@(new[] { "65", "59", "80", "81", "56", "55", "40" })" 
       BackgroundColor="@(new[] {"rgba(255, 99, 132, 0.2)",
                              "rgba(255, 159, 64, 0.2)",
                              "rgba(255, 205, 86, 0.2)",
                              "rgba(75, 192, 192, 0.2)",
                              "rgba(54, 162, 235, 0.2)",
                              "rgba(153, 102, 255, 0.2)",
                              "rgba(201, 203, 207, 0.2)"})" 
       BorderColor="@(new[] { "rgb(255, 99, 132)","rgb(255, 159, 64)",
                          "rgb(255, 205, 86)",
                          "rgb(75, 192, 192)",
                          "rgb(54, 162, 235)",
                          "rgb(153, 102, 255)",
                          "rgb(201, 203, 207)"})" 
       BorderWidthNum="1" 
       Labels="@(new[] { "January","February", "March", "April", "May", "June", "July"})"></Chart>
