@page "/Line"
@using Blazor.Charts.ChartJs.Components
@using Blazor.Charts.ChartJs.Entities

<h3>Line</h3>

<div class="row">
    <div class="col">
        1 of 6
        <LineChart Id="line1"
                   Types="@ChartTypes.Line"
                   Data="@(new[] { "2","4","6","8","10","12","14" })"
                   BackgroundColor="@(new[] { "rgb(75, 192, 192)"})"
                   BorderColor="@(new[] { "rgb(75, 192, 192)"})"
                   Labels="@(new[] { "40", "50", "60", "70", "80", "90", "100", "110", "120"})"></LineChart>         
            </div>
    <div class="col">
        2 of 6
        <LineChart Id="line2"
               Types="@ChartTypes.Line"
               Data="@(new[] { "65","59","80","81","56","55","40" })"
               BackgroundColor="@(new[] { "rgb(75, 192, 192)"})"
               BorderColor="@(new[] { "rgb(75, 192, 192)"})"
               Labels="@(new[] { "January", "February", "March", "April", "May", "June", "July"})"></LineChart>
    </div>
    <div class="col">
        3 of 6
        <LineChart Id="line3"
               Types="@ChartTypes.Line"
               Data="@(new[] { "65","59","80","81","56","55","40" })"
               BackgroundColor="@(new[] { "rgb(75, 192, 192)"})"
               BorderColor="@(new[] { "rgb(75, 192, 192)"})"
               Labels="@(new[] { "January", "February", "March", "April", "May", "June", "July"})"></LineChart>
    </div>
    <div class="col">
        4 of 6
        <LineChart Id="line4"
               Types="@ChartTypes.Line"
               Data="@(new[] { "65","59","80","81","56","55","40" })"
               BackgroundColor="@(new[] { "rgb(75, 192, 192)"})"
               BorderColor="@(new[] { "rgb(75, 192, 192)"})"
               Labels="@(new[] { "January", "February", "March", "April", "May", "June", "July"})"></LineChart>
    </div>
    <div class="col">
        5 of 6
        <LineChart Id="line5"
               Types="@ChartTypes.Line"
               Data="@(new[] { "65","59","80","81","56","55","40" })"
               BackgroundColor="@(new[] { "rgb(75, 192, 192)"})"
               BorderColor="@(new[] { "rgb(75, 192, 192)"})"
               Labels="@(new[] { "January", "February", "March", "April", "May", "June", "July"})"></LineChart>
    </div>
    <div class="col">
        6 of 6
        <LineChart Id="line6"
               Types="@ChartTypes.Line"
               Data="@(new[] { "65","59","80","81","56","55","40" })"
               BackgroundColor="@(new[] { "rgb(75, 192, 192)"})"
               BorderColor="@(new[] { "rgb(75, 192, 192)"})"
               Labels="@(new[] { "January", "February", "March", "April", "May", "June", "July"})"></LineChart>
    </div>
</div>