@page "/Line"
@using Blazor.Charts.ChartJs.Components

<h3>Line</h3>

<Chart Id="line1" Type="@Chart.ChartType.Line" Data="@(new[] { "65","59","80","81","56","55","40" })" BackgroundColor="@(new[] { "rgb(75, 192, 192)"})" BorderColor="@(new[] { "rgb(75, 192, 192)"})" Labels="@(new[] { "January", "February", "March", "April", "May", "June", "July"})"></Chart>
