@page "/Pie"
@using Blazor.Charts.ChartJs.Components

<h3>Pie</h3>

    <Chart Id="pie1"
           Type="@ChartBase.ChartType.Pie"
           Data="@(new[] { "10", "20", "30" })"
           BackgroundColor="@(new[] { "rgba(255, 99, 132, 0.2)","rgba(255, 205, 86, 0.2)","rgba(54, 162, 235, 0.2)"})"
           BorderColor="@(new[] { "rgba(255, 99, 132, 0.2)","rgba(255, 205, 86, 0.2)","rgba(54, 162, 235, 0.2)"})"
           Labels="@(new[] { "Red", "Yellow", "Blue"})"
           BorderWidthNum="1"></Chart>
