@page "/linechart"
@using System.Globalization

<h1>Radzen Blazor Chart with line series</h1>
<div class="row">
    <div class="col-md-6 col-sm-12 p-4">
        <label>Smooth <RadzenCheckBox @bind-Value="@smooth" Name="smooth"></RadzenCheckBox></label>
        <h3>
            Weight-for-length
        </h3>
        <h4>
            WHO 2006 Standard
        </h4>
        <h5>
            Birth to 5 Years (Percentile)
        </h5>
        <RadzenChart>
            <RadzenLineSeries Stroke="blue" StrokeWidth="2" Data="@plot" Title="2018" CategoryProperty="Length" ValueProperty="Weight" LineType="LineType.Solid">
                <RadzenMarkers MarkerType="MarkerType.Circle" />
            </RadzenLineSeries>
            <RadzenLineSeries Stroke="green" StrokeWidth="2" Smooth="@smooth" Data="@l50th" Title="2019" CategoryProperty="Length" ValueProperty="Weight" LineType="LineType.Solid">
                <RadzenMarkers MarkerType="MarkerType.None" />
            </RadzenLineSeries>
            <RadzenLineSeries Stroke="red" StrokeWidth="2" Smooth="@smooth" Data="@l97th" Title="2020" CategoryProperty="Length" ValueProperty="Weight">
                <RadzenMarkers MarkerType="MarkerType.None" />
            </RadzenLineSeries>
            <RadzenCategoryAxis Max="110" Min="40" Step="10" Visible="true" >
                <RadzenAxisTitle Text="Length (cm)" />
            </RadzenCategoryAxis>
            <RadzenValueAxis Max="26" Min="0" Step="2"> 
                <RadzenGridLines Visible="true" />
                <RadzenAxisTitle Text="Weight (kg)" />
            </RadzenValueAxis>
            <RadzenLegend Position="LegendPosition.Right">
            </RadzenLegend> 
        </RadzenChart>
    </div>
</div>
@code {
    bool smooth = false;

    class LegendItem
    {
        public string n97th { get; set; }
        public string n85th { get; set; }
    }

    class DataItem
    {
        public double Length { get; set; }
        public double Weight { get; set; }
    }

    string FormatAsUSD(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-US"));
    }

    LegendItem[] legendItem = new LegendItem[]
{
        new LegendItem
        {
            n97th = "97th",
            n85th= "85th"
        }
};

    DataItem[] plot = new DataItem[]
    {
        new DataItem
        {
            Weight = 8,
            Length = 70
        }
    };

    DataItem[] l50th = new DataItem[] {
        new DataItem
        {
            Weight = 2.75,
            Length = 50
        },
        new DataItem
        {
            Weight = 5.5,
            Length = 60
        },
        new DataItem
        {
            Weight = 7,
            Length = 70
        },
        new DataItem
        {
            Weight = 9,
            Length = 80
        },
        new DataItem
        {
            Weight = 11,
            Length = 90
        },
        new DataItem
        {
            Weight = 12.5,
            Length = 100
        },
        new DataItem
        {
            Weight = 15,
            Length = 110
        }
    };

    DataItem[] l97th = new DataItem[] {
        new DataItem
        {
            Weight = 2.5,
            Length = 50
        },
        new DataItem
        {
            Weight = 5,
            Length = 60
        },
        new DataItem
        {
            Weight = 6.5,
            Length = 70
        },
        new DataItem
        {
            Weight = 8.5,
            Length = 80
        },
        new DataItem
        {
            Weight = 10.5,
            Length = 90
        },
        new DataItem
        {
            Weight = 12,
            Length = 100
        },
        new DataItem
        {
            Weight = 14.5,
            Length = 110
        }
    };
}